/* TV Guide */

/* TV guide info section thumbnail size and make it landscape */
.videoosd-poster {
    width: auto !important;
    max-width: 30% !important;
    min-height: 100% !important;
    aspect-ratio: 16 / 9 !important;
}

.osdInfoImageCardBox.cardBox .itemAction.legacyLazyLoadImmediate.cardContent.cardImageContainer.cardContent-background.cardContent-bxsborder-fv.coveredImage.coveredImage-noScale.cardPadder-portrait {
    padding-bottom: 0 !important;
    aspect-ratio: 16 / 9 !important;
}

/* Makes all live TV list items landscape and set it to backdrop width */
div[is="emby-itemscontainer"][data-monitor="Timers,SeriesTimers"][data-virtualscrolllayout="horizontal-grid"] .cardPadder-portrait,
div[is="emby-itemscontainer"][data-refreshinterval="300000"][data-virtualscrolllayout="horizontal-grid"] .cardPadder-portrait {
    padding-bottom: 0 !important;
    aspect-ratio: 16 / 9 !important;
}

div[is="emby-itemscontainer"][data-monitor="Timers,SeriesTimers"][data-virtualscrolllayout="horizontal-grid"] .virtualScrollItem,
div[is="emby-itemscontainer"][data-refreshinterval="300000"][data-virtualscrolllayout="horizontal-grid"] .virtualScrollItem {
    width: calc(93vw / max((var(--backdrop-cards) + var(--user-cards-size-adjust)), 1)) !important;
}

/* Makes all live TV single item display landscape and set it to backdrop width */
div[is="emby-itemscontainer"].detailImageContainer-portrait:not(.detailImageContainer-small):has(.itemProgressBar) .cardPadder-portrait,
div[is="emby-itemscontainer"].detailImageContainer-portrait:not(.detailImageContainer-small):has(.itemProgressBar),
div[is="emby-itemscontainer"].detailImageContainer-portrait:not(.detailImageContainer-small):not(:has(.cardOverlayContainer)) .cardPadder-portrait,
div[is="emby-itemscontainer"].detailImageContainer-portrait:not(.detailImageContainer-small):not(:has(.cardOverlayContainer)) {
    width: clamp(20vw, 49.5em, 28vw) !important;
    padding-bottom: 0 !important;
    aspect-ratio: 16 / 9 !important;
}


/* Makes all live TV channel schedule items landscape */
div[data-action="linkdialog"].listItemImageContainer.listItemImageContainer-large.itemAction.listItemImageContainer-portrait,
div[data-action="linkdialog"].listItemImageContainer.listItemImageContainer-large.itemAction.listItemImageContainer-portrait img {
    aspect-ratio: 16 / 9 !important;
    object-fit: contain !important;
}
